body {
    margin:0;
    background-color: gainsboro;
}

legend {
    margin-left: 10%;
    text-decoration: underline;
}

/* table, thead, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
} */

/* thead td {
    font-weight: bold;
} */

td a {
    font-weight: bold;
}

.nav {
    margin-bottom: 40px;
}

form button {
    width: 122px;
    background-color: darkgrey;
}

#homeButton {
    width: 77px;
    background-color: darkgrey;
}

#homeButton a {
    color: black;
}

.branco {
    background-color: whitesmoke;
}

.text {
    color: black;
    font-size: 23px;
    font-weight: 600;
}

.lupa {
    background: darkgray;
    border-radius: 5px;
    height: 100%;
    width: 125%;
}

.lupa:hover {
    background: darkgray;
    border-radius: 5px;
    height: 99%;
    width: 124%;
    box-shadow: 1px 1px 5px black;
}

.relat {
    margin-top: 50px;
}

.vendaBox {
    border-bottom: 3px solid darkgray;
    margin-bottom: 20px;
    border-radius: 10px;
}